<table class="ranking">
	<tr >
		<th>Rang</th>
		<th class="string <%= cyc_color %>">Jasser</th>
		<% @columns.each do |key, column_name| -%>
		<th class="<%= cyc_color %>"><%= link_to column_name, :order => key %></th>
		<% end -%>
	</tr>
	
	<% if @statistic_table.jasser_results.size > 0 -%>
		<% @statistic_table.jasser_results.each do |jasser_result| -%>
			<% reset_cycle("colors") -%>
			<tr <% if jasser_result.rank==1 || jasser_result.rank==4 %>class="trennung_top"<% end %> >
				<td><%= jasser_result.rank %></td>
				<td class="string <%= cyc_color%>"><%= jasser_result.jasser.name %></td>
				<% @columns.each do |key, column_name| -%>
					<td class="<%= cyc_color %>"><%= format_number(jasser_result.send(key))%></td>
				<% end -%>
			<tr>
		<% end -%>
		<tr class="trennung_top">
			<% reset_cycle("colors") -%>
			<td></td>
			<td class="string <%= cyc_color%>">Total</td>
			<% @columns.each do |key, column_name| %>
				<td class="<%= cyc_color %>"><%= format_number(@statistic_table.totals[key])%></td>
			<% end -%>
		</tr>
		<tr>
			<td></td> 
			<% reset_cycle("colors") -%>
			<td class="string <%= cyc_color%>">Schnitt</td>
			<% @columns.each do |key, column_name| %>
				<td class="<%= cyc_color %>"><%= format_number(@statistic_table.averages[key])%></td>
			<% end -%>
		</tr>
	<% else %>
		<tr>
			<td colspan=12 style="padding:15px;text-align:center;">In diesem Zeitraum wurde kein Spiel eingetragen</td>
		</tr>
	<% end -%>
</table>