<h1>Die Jasserei am <%=@date.strftime("%d. %b %Y")%></h1>
 
<h3>Eingegebene Tableaus</h3>
<% for round in @rounds -%>
	Tableau eingegeben von <%= h round.creator %>: <%=h(round.jassers.map{|a| a.name}.to_sentence(words_connector: ", ", last_word_connector: "&")) %><br />
<% end -%>

<h3>Die Ergebnisse der Spieler</h3>
<%= render 'user_ranking_table' %>



<h3>Rangverschiebungen</h3>
<table class="ranking">
	<% reset_cycle("colors") -%>
	<tr>
		<th>Rang</th>
		<th class="string <%= cyc_color%>">Jasser</th>
		<th class="string <%= cyc_color%>">Rang-Sprung</th>
		<th <%=cyc_color_class %>>Schnitt vorher</th>
		<th <%=cyc_color_class %>>Schnitt nachher</th>
		<th <%=cyc_color_class %>>Spiele vorher</th>
		<th <%=cyc_color_class %>>Spiele nachher</th>
		<th <%=cyc_color_class %>>Differenz vorher</th>
		<th <%=cyc_color_class %>>Differenz nachher</th>
		<th <%=cyc_color_class %>>Rang vorher</th>
		<th <%=cyc_color_class %>>Rang nachher</th>
	</tr>
	<% for stat in @rangverschiebung -%>
	<% reset_cycle("colors") -%>
		<tr>
			<td ><%= stat[:rang_nachher]%></td>
			<% puts stat.inspect %>
			<td class="string <%= cyc_color%>"><%= h  stat[:jasser_name]%></td>
			<td class="string <%= cyc_color%>"><%= format_number stat[:rang_sprung]%> <%= h stat[:sprung_am_gruenen_tisch]%></td>
			<td <%=cyc_color_class %>><%= format_number stat[:schnitt_vorher]%></td>
			<td <%=cyc_color_class %>><%= format_number stat[:schnitt_nachher]%></td>
			<td <%=cyc_color_class %>><%= stat[:spiele_vorher]%></td>
			<td <%=cyc_color_class %>><%= stat[:spiele_nachher]%></td>
			<td <%=cyc_color_class %>><%= stat[:differenz_vorher]%></td>
			<td <%=cyc_color_class %>><%= stat[:differenz_nachher]%></td>
			<td <%=cyc_color_class %>><%= stat[:rang_vorher]%></td>
			<td <%=cyc_color_class %>><%= stat[:rang_nachher]%></td>
		</tr>
	<% end -%>
	<% reset_cycle("colors") -%>
	<tr>
		<td></td>
		<td class="string <%= cyc_color%>">Total</td>
		<td <%=cyc_color_class %>></td>
		<td <%=cyc_color_class %>></td>
		<td <%=cyc_color_class %>></td>
		<td <%=cyc_color_class %>></td>
		<td <%=cyc_color_class %>></td>
		<td <%=cyc_color_class %>><%= diffpr = @rangverschiebung.sum{|x| x[:differenz_vorher].to_i}%></td>
		<td <%=cyc_color_class %>><%= diffpo = @rangverschiebung.sum{|x| x[:differenz_nachher].to_i}%></td>
		<td <%=cyc_color_class %>><%= spielepr = @rangverschiebung.sum{|x| x[:spiele_vorher].to_i}%></td>
		<td <%=cyc_color_class %>><%= spielepo = @rangverschiebung.sum{|x| x[:spiele_nachher].to_i}%></td>
	</tr>
	<tr>
		<% reset_cycle("colors") -%>
		<td></td>
		<td class="string <%= cyc_color%>">Schnitt</td>
		<td <%=cyc_color_class %>></td>
		<td <%=cyc_color_class %>><%= format_number diffpr/spielepr.to_f %></td>
		<td <%=cyc_color_class %>><%= format_number diffpo/spielepo.to_f %></td>
		<td <%=cyc_color_class %>><%= format_number spielepr/@rangverschiebung.size.to_f %></td>
		<td <%=cyc_color_class %>><%= format_number spielepo/@rangverschiebung.size.to_f %></td>
		<td <%=cyc_color_class %>><%= format_number diffpr/@rangverschiebung.size.to_f %></td>
		<td <%=cyc_color_class %>><%= format_number diffpo/@rangverschiebung.size.to_f %></td>
		<td <%=cyc_color_class %>></td>
		<td <%=cyc_color_class %>></td>
	</tr>
</table>