<h1>12-Monats-Ranking vom <%=short_date(@date)%> </h1>
<p class="headlinks"><%= link_to "<<Vorheriges Jahr", :action => "last_12_months", :date => @date - 1.year %> &nbsp; 
<%= link_to "<Vorheriger Monat", :action => "last_12_months", :date => @date - 1.month %> &nbsp; 
<%= link_to ">Nächster Monat", :action => "last_12_months", :date => @date + 1.month %> &nbsp; 
<%= link_to ">>Nächstes Jahr", :action => "last_12_months", :date => @date + 1.year %></p>

<%= render 'user_ranking_table' %>
