<h1>Versenker und R&ouml;sischlecker <br />des Jahres 
	<% for delta in [-2, -1, 0, 1, 2]
		next_year = @date + delta.years
	%>
		<span class="headlinks" style="font-size:<%= 100/2**delta.abs %>%; padding:<%= 20-5*delta.abs%>px;">
			<% if delta == 0 -%>
				<%= next_year.strftime("%Y") %>
			<% else -%>
				<%= link_to next_year.strftime("%Y"), :action => "versenker_und_roesis", :date => next_year %>
			<% end -%>
		</span>
	
	<% end %>
</h1>
<%= render 'user_ranking_table' %>
