<h1>Jassers</h1>

<table>
  <thead>
    <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Aktiv?</th>
    <th>Disqualifiziert</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jassers.each do |jasser| %>
      <tr>
 		<td><%=h jasser.name %></td>
 		<td><%= mail_to jasser.email, jasser.email, :encode => "javascript" %></td>
 		<td><%= if (jasser.active) then "aktiv" end %></td>
 	  	<td><%= if (jasser.disqualifiziert) then "Disqualifiziert" end %></td>
        <td><%= link_to 'Show', jasser %></td>
        <td><%= link_to 'Edit', edit_jasser_path(jasser) %></td>
        <td><%= link_to 'Destroy', jasser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jasser', new_jasser_path %>
