<!DOCTYPE html>
<html>
  <head>
    <title>Mensajasser: <%= @page_title || "#{controller.controller_name} - #{controller.action_name}" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
	<meta name="application-name" content="Mensajasser">
	<meta name="msapplication-TileColor" content="#F4C143">
	<meta name="msapplication-TileImage" content="/mstile-144.png">
	<meta name="msapplication-config" content="/ieconfig.xml">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body id="jasser-app">
	<div id="banner">
		<p><%= @page_title || "Die Mensajasser" %></p>
	</div>
	<div id="columns">
		<div id="main">
			<% if flash[:notice] -%>
				<div id="notice">
					<%= flash[:notice] %>
				</div>
			<% end -%>
    <%= yield %>
			<p style="margin-top:20px">
				Neuste Runde: <%= link_to @last_entered_round.day.strftime("%d.%m.%y"), {:controller => "ranking", :action => "day", :date => @last_entered_round.day}, {:class => "decent"} %>
				<% unless session[:user_id].nil? -%>
					<br /><%= mail_to Jasser.where(:active => true).map{|jasser| jasser.email}.join(", ") , "Mail an alle Jasser", :class => "decent"%>
				<% end -%>
			</p>
		</div>
		<div id="side">
			<ul>
				<li><%= link_to "Haupt-Rangliste", :controller => "ranking", :action => "year" %></li>
				<li><%= link_to "Monats-Rangliste", :controller => "ranking", :action => "month" %></li>
				<li><%= link_to "12-Monats-Ranking", :controller => "ranking", :action => "last_12_months" %></li>
				<li><%= link_to "Quartals-Ranking", :controller => "ranking", :action => "last_3_months" %></li>
				<br />
				<li><%= link_to "Versenker + Rösis", :controller => "ranking", :action => "versenker_und_roesis"%></li>
				<li><%= link_to "Berseker + Schädling", :controller => "ranking", :action => "berseker"%></li>
				<li><%= link_to "Ewige Rangliste", :controller => "ranking", :action => "ewig" %></li>
				<br />
				<li><%= link_to "Tableaus", :controller => "rounds", :action => "index" %></li>
				<% if session[:user_id].nil? %>
					<li>&nbsp;</li>
					<li><%= link_to "Login", :controller => "users", :action => "login" %></li>
				<% else %>
					<li><%= link_to "Neues Tableau", :controller => "rounds", :action => "new" %></li>					
					<li>&nbsp;</li>
					<li><%= link_to "Jasser verwalten", :controller => "jassers", :action => "index" %></li>
					<li><%= link_to "User verwalten", :controller => "users", :action => "index" %></li>
					<li><%= link_to "Passwort ändern", :controller => "users", :action => "change_own_password" %></li>
					<li><%= link_to "Logout", :controller => "users", :action => "logout" %></li>
				<% end%>
			</ul>
		</div>
	</div>
</body>
</html>
